@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

*,*:before,*:after {
  box-sizing: border-box;
}

@keyframes pulse {
  65%{opacity: 1}
  100%{opacity: 0}
}

body {
  margin: 0;
  background: #EFE9F4;
  font-family: Finlandica, Helvetica, sans-serif;
}

.head-notification {
  position: relative;
  display: flex;
  width: 100%;
  height: 2rem;
  background: #0E4749;
  color: #FBD1A2;
  padding-left: 1rem;
  line-height: 2rem;
  justify-content: space-between;
  overflow: hidden;
  transition: 0.5s;
}

.head-notification p {
  margin: 0;
}

.head-notification--x {
  transform: rotate(45deg);
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.head-notification p:after {
  content: "";
  width: 0.5rem;
  height: 1.5rem;
  border-bottom: 2px #FBD1A2 solid;
  position: absolute;
  margin-left: 0.25rem;
  animation: pulse 0.5s alternate infinite;
}

.header {
  width: 100%;
  height: 4rem;
  background: #fff;
  border-bottom: 0.25rem #70a9a1 solid;
  box-shadow: 0 0 6px 0 #666;
}

.home {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.home p, .home h2 {
  width: 70vw;
}

.home h2 {
  margin-top: 5rem;
  text-align: center;
  text-shadow: 1px 1px #fff;
}

.home p {
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.big-logo {
  width: 20rem;
  text-align: center;
}

.big-logo img {
  width: 80%;
}

.label {
  margin-top: 2rem;
  background: #fff;
  border: 2px #ccc solid;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  color: #333;
}

.footer {
  width: 100%;
  min-height: 20vh;
  background: #0E4749;
}

.footer p {
  color: #FBD1A2;
  padding-top: 2rem;
  text-align: center;
}